"*":
  core:
    disabledPackages: [
      "git-log"
      "Remote-FTP"
      "syntax-settings"
    ]
    excludeVcsIgnoredPaths: false
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  "exception-reporting":
    userId: "d8362a48-3991-12bb-05e8-9a218f26f25f"
  welcome:
    showOnStartup: false
  editor:
    invisibles: {}
    showInvisibles: true
    softWrap: true
    fontSize: 15
  linter: {}
  "syntax-settings":
    source:
      ruby:
        editorSettings:
          tabLength: 2
        editorViewSettings:
          showInvisibles: true
          softWrap: false
          showIndentGuide: false
        gutterViewSettings:
          showLineNumbers: true
      php:
        editorSettings:
          tabLength: 4
        editorViewSettings:
          showInvisibles: true
          softWrap: false
          showIndentGuide: false
        gutterViewSettings:
          showLineNumbers: true
  "view-tail-large-files": {}
  "atom-beautify":
    _analyticsUserId: "69de1a6f-3bd1-48da-a97e-a0695879ec5e"
  minimap:
    plugins:
      "minimap-autohide": true
  "highlight-line":
    enableBackgroundColor: false
  atomatigit:
    show_on_startup: true
  "git-log": {}
  "git-plus": {}
  "save-session":
    dataSaveFolder: "/Users/shimizu/.atom/packages/save-session/projects"
    projects: []
    windowX: 0
    windowY: 23
    windowWidth: 1920
    windowHeight: 1053
    fullScreen: false
  term2:
    colors: {}
  "isotope-ui": {}
  "tree-view": {}
  emmet: {}
  pigments: {}
  "merge-conflicts": {}
".blade.html.php.text":
  editor:
    softWrap: false
    tabLength: 2
