"*":
  "exception-reporting":
    userId: "a0bd5313-9b0e-470b-9651-ead222043b89"
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
