rails_sample:
  title: "rails_sample"
  paths: [
    "/Users/shimizu/Repository/rails_sample"
  ]
angular2_sample:
  title: "angular2_sample"
  paths: [
    "/Users/shimizu/Repository/angular2_sample"
  ]
bot_sample:
  title: "bot_sample"
  paths: [
    "/Users/shimizu/Repository/bot_sample"
  ]
js_library_demo:
  title: "js_library_demo"
  paths: [
    "/Users/shimizu/Repository/js_library_demo"
  ]
