ykk_wr_sv:
  title: "YKK_WR_SV"
  paths: [
    "/Users/shimizu/Repository/YKK_WR_SV"
  ]
newkba:
  title: "NEWKBA"
  paths: [
    "/Users/shimizu/Repository/NEWKBA"
  ]
din_sv:
  title: "DIN_SV"
  paths: [
    "/Users/shimizu/Repository/DIN_SV"
  ]
komtraweb:
  title: "KOMTRAWEB"
  paths: [
    "/Users/shimizu/Repository/KOMTRAWEB"
  ]
